.card-dog-description {
    width: 30vw;
    height: 40vh;
    background-color: white;
    grid-column: 1;
    grid-row: 1;
    background-color: #ffc551;
    box-shadow: 0.2vw 0.2vw 0.5vw #c66500;
}

.card-dog-description h1 {
    text-align: center;
    background-color: #c66500;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.card-dog-description p {
    margin-left: 1vw;
}